<div id="componentWrapper">
  <div class="sidepanel"></div>
  <div id="mapwidget">
    <div>
      <button class="btn" (click)="refresh('us')">AMERICAS</button>
      <button class="btn" (click)="refresh('emea')">EMEA</button>
      <button class="btn" (click)="refresh('asia')">APAC</button>
      <button class="btn" (click)="refresh('swiss')">SWISS</button>
      <button class="btn" (click)="refresh('all')">ALL</button>
    </div>

    <div id="map-container"></div>

  </div>
  <div class="sidepanel"></div>

</div>

